.prodCalc{
    padding: 10px;
}
.addtocard{
    background-color: #f89418;
    padding: 1rem 2rem;
    border-radius: .5rem .5rem;
    width: 50%;
    height: 100%;
    margin: 0;
    font-weight:700;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color:#5c3890;
    cursor:pointer;
}